.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  background-color: #ee9972; 
}

h1 {
  font-family: 'Markazi Text', serif;
  font-size: 64pt;
  font-weight: 400;
}

h2 {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
}

.about-img {
  border-radius: 16pt;
  height: 100%;
}


