img{
  max-height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  justify-self: flex-end;
}
.color-primary{
  color: #F4CE14;
}
.bg-primary{
  background-color:#F4CE14 ;
}

p.lead-text{
  font-family: 'Karla', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18pt;  
}

h1{
  font-family: 'Markazi Text', serif;
  font-size: 64pt;
}

h2{
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
}