img.hero {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16pt;
}

.color-primary {
  color: #f4ce14;
}
.bg-primary {
  background-color: #f4ce14;
}

h1 {
  font-family: 'Markazi Text', serif;
  font-size: 1.5em;
  font-weight: 400;
}

h2 {
  font-family: 'Markazi Text', serif;
  font-size: 1.8em;
}

