img.hero {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16pt;
}

/* .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  justify-self: flex-end;
} */
.color-primary {
  color: #f4ce14;
}
.bg-primary {
  background-color: #f4ce14;
}

h1 {
  font-family: 'Markazi Text', serif;
  font-size: 64pt;
  font-weight: 400;
}

h2 {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
}
