.card-area{
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width : 768px){
  .card-area .card{
    margin: 0 auto;
  }
}

.specials {
  background-color: white;
}

.profile{
  border-radius: 16pt;
}
