@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

:root {
  --yellow-primary: #f4ce14;
  --green-primary: #495e57;
  --orange-primary: #ee9972;
  --karla-font: 'Karla', serif;
}

body {
  background-color: var(--green-primary);  
}

main {
  min-height: 100vh;
}
.btn:active {
  background-color: #ee9972;
  color: black;
}

.btn {
  background-color: var(--yellow-primary);
  color: black;
  border: none;
  border-radius: 16pt;
  font-family: var(--karla-font);
  font-weight: 500;
  font-size: 16pt;
  /* padding:1.2em 2em ; */
}

.card .btn{
  font-weight: 100;
}

.btn:hover {
  background-color: var(--yellow-primary);
  color: black;
  opacity: 0.8;
}

.btn:disabled {
  background-color: var(--orange-primary);
}

.round {
  border-radius: 16pt;
}

.section-title {
  font-family: var(--karla-font);
  font-size: 20pt;
  font-weight: bolder;
  text-transform: uppercase;
}

.lead-text {
  font-family: var(--karla-font);
  font-weight: 400;
  font-size: 18pt;
  color: black;
}

.card-text {
  font-family: var(--karla-font);
  font-weight: 100;
  font-size: 16pt;
  line-height: 1.5;
  text-align: left;
}

.card-title {
  font-family: var(--karla-font);
  font-weight: bold;
  font-size: 18pt;
}

.display-title {
  font-family: 'Markazi Text', serif;
  font-size: 64pt;
  font-weight: 400;
}

.sub-title {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
}

.card {
  border-radius: 16pt;
}

.card-img-top {
  border-radius: 16pt 16pt 0 0;
}

.bg-gray {
  background-color: #d9d9d9;
}

.bi-check-circle {
  font-size: 3em;
}

div.carousel-indicators > button:active {
  background-color: var(--green-primary);
}

.price {
  font-family: var(--karla-font);
  font-weight: 500;
  font-size: 16pt;
  line-height: 1.5;
  color: var(--green-primary);
}

.bi-star-fill,
.bi-star-half {
  color: var(--green-primary);
}

.wrapper{
  max-width:70%;
  margin: 0 auto;
}
